<html>
<head>
<style>
body
{
}
.menu
{
width:150px;
}
.menu .item 
{
height:24px;
line-height:24px;
border:1px solid transparent;
}
.menu .item:hover
{
cursor:pointer;
border:1px solid #BBB;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
}
</style>
</head>
<body>
<div class="menu">
    <div class="item" id="immediately"></div>
    <div class="item" id="switcher"></div>
    <div class="item" id="options" data-localization="popup_item_options"> Options </div>
</div>
<script>
(function() {
    var options = window.localStorage.getItem('translati0n');

    var setLocalizedTopic = function() {
        var getI18nMsg = chrome.i18n.getMessage;

        var localizations = document.querySelectorAll('[data-localization]');
        for (var i = 0; i < localizations.length; i++) {
            localizations[i].innerText = getI18nMsg(localizations[i].dataset.localization);
        }

    };
    setLocalizedTopic();
    if (null !== options) {
        options = JSON.parse(options);

        // options
        var optionsItem = document.getElementById('options');
        optionsItem.onclick = function() {
            chrome.tabs.create({url:chrome.extension.getURL("views/options.html")});
        };
      
        // enable or disable
        var switcher = document.getElementById('switcher');

        if (options.enabled) {
            switcher.innerText = chrome.i18n.getMessage('ext_status_disable');
        } else {
            switcher.innerText = chrome.i18n.getMessage('ext_status_enable');
        }
        switcher.onclick = function() {
            var status;
            if (options.enabled) {
                status = false;
                this.innerText = chrome.i18n.getMessage('ext_status_enable');
                chrome.browserAction.setIcon({path: 'icon_gray.png'});
            } else {
                status = true;
                this.innerText = chrome.i18n.getMessage('ext_status_disable');
                chrome.browserAction.setIcon({path: 'icon.png'});
            }
            options.enabled = status;
            window.localStorage.setItem('translati0n', JSON.stringify(options));
        };

        var immediately = document.getElementById('immediately');

        if (options.immediately) {
            immediately.innerText = 'Show Icon';
        } else {
            immediately.innerText = 'Immediately';
        }
        immediately.onclick = function() {
            var status;
            if (options.immediately) {
                status = false;
                this.innerText = 'Immediately';
            } else {
                status = true;
                this.innerText = 'Show Icon';
            }
            options.immediately = status;
            window.localStorage.setItem('translati0n', JSON.stringify(options));
        };
    }
})();
</script>
</body>
</html>
